<div *ngIf="hasInformation" class="u-verticalArrange">
    <ul>
      <li *ngFor="let weather of weeklyWeather">
        <div class="WeeklyWeather">
          <span class="WeeklyWeather-weekday u-text-light">
              {{weather.date | getWeekday}} 
          </span>
          <span class="WeeklyWeather-icon">
            <img [src]="weather.icon.src | icon" alt="weather.icon.description" lang="en">

          </span>
          <span class="WeeklyWeather-temperature u-temperature">
            {{weather.temperature.toFixed(0)}} º
          </span>
        </div>
      </li>
    </ul>
</div>