@import '../../../settings';
.WeeklyWeather {
  display: flex;
  width: 100%;
  align-items: center;
  &-icon {
    flex-grow: 1;
    text-align: right;
    img {
      width: calc(8vh + 0.9rem);
      height: auto;
    }
  }
  &-temperature {
    padding-left: 1.6rem;
    font-size: 1.45rem;
    font-weight: 700;
  }
  &-weekday {
    font-size: 1.12rem;
    letter-spacing: .065rem;
  }
}

.u-verticalArrange {
  height: 100%;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media (min-width: $breakpoint) {
      min-height: 100vh;
    }
  }
  li {
    padding: .65rem 0;
    flex-grow: 1;
    display: flex;
  }
  li:not(:last-child) {
    border-bottom: 1px solid $c-line;
  }
}
