@import '../../../settings';
/* Componentes
    **********************************************/

.MainWeather {
    display: grid;
    grid-template-columns: auto 60%;
    grid-gap: 1rem;
    max-width: 82vw;
    margin: auto;
    margin-bottom: 6vh;

    &-icon {
        grid-row: 1 / span 2;
        align-self: center;
        img {
            width: 100%;
            max-width: 280px;
            height: auto;
        }
    }
    &-temperature {
        font-size: 3.2rem;
        align-self: flex-end;

        @media (min-width: $breakpoint) {
            font-size: 4.2rem;
        }
    }
    &-select {
        grid-column:1 / span 2;
        text-align: center;
        padding: 1rem 0;
        select {
            width: 80%;
            max-width: 320px;
            font-size: 1rem;
            background-color: #fff;
            border-radius: 1px;
            padding: .3rem .2rem;
        }
    }

    @media (min-width: $breakpoint) {
        grid-template-columns: 1fr 1fr;
        max-width: 640px;
        margin-left: 0;
    }
}
.DetailsRow {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    padding: .3rem 0;
    max-width: 200px;

    &-label {
        color: rgba(255, 255, 255, .5);
    }
}