


<!-- añado el tabindex para hacerle focus cuando obtengo los datos -->
<div tabindex="-1" #main>
  <!-- aria-live: el lector de pantalla leerá el contenido cuando cambie -->
  <article *ngIf="hasInformation" aria-live="polite" class="MainWeather">
      <div class="MainWeather-icon">
        <!-- TODO: Traducir el texto alternativo de la imagen -->
       <img [src]="detailedWeatherSelected.icon.src | icon" 
        [alt]="detailedWeatherSelected.icon.description"
        lang="en">
       </div>
      
      <div class="MainWeather-temperature u-temperature" aria-label="Temperature">{{detailedWeatherSelected.temperature.toFixed(0)}}&nbsp;º</div>
      <ul class="MainWeather-listDetails">
        <!-- utilizo espacios indivisibles para que nunca estés en diferente linea -->
        <li class="DetailsRow">
          <span class="DetailRow-label">Viento:</span> 
          <span class="DetailRow-value"> {{detailedWeatherSelected.wind}}&nbsp;k/h</span>
        </li>
        <li class="DetailsRow">
          <span class="DetailRow-label">Precipitaciones:</span> 
          <span class="DetailRow-value"> {{detailedWeatherSelected.rain}}&nbsp;mm/h</span>
        </li>
        <li class="DetailsRow" *ngIf="detailedWeatherSelected.snow > 0">
          <span class="DetailRow-label">Nieve:</span> 
          <span class="DetailRow-value"> {{detailedWeatherSelected.snow}}&nbsp;mm/h</span>
        </li>
      </ul>
      
      <div class="MainWeather-select">
        <select (change)="onChangeSelect($event)">
          <option *ngFor="let hour of hours; let i = index" [value]="i">{{hour}}</option>
        </select>
      </div>
  </article>
</div>