
<div class="u-fullPage" *ngIf="service.loading | async"> 
  <div class="loader">Cargando...</div>
</div>

<div class="grid" [ngClass]="{loading: service.loading | async}">
  <div class="cell-search">
    <app-search (coords)="onSetCoords($event)"></app-search>
  </div>

  <main class="cell-main-result">
      <app-forecast-main [detailedWeather]="detailedWeather$ | async"></app-forecast-main>
  </main>

  <aside class="cell-week-result">
    <app-forecast-weekly [weeklyWeather]="weeklyWeather$ | async"></app-forecast-weekly>
  </aside>
</div>