@import '../../../settings';
/* Personalización del buscador de google places
    **********************************************/

.pac-icon {
  display: none;
}

.pac-item {
  padding: .3rem .8rem;
}

.pac-logo::after {
  display: none;
}

.pac-container {
  background-color: #fff;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 1.12rem;
}

.pac-container {
  box-shadow: rgba(0, 0, 0, 0.5) 0 25px 25px -5px;
}

/* Componentes
    **********************************************/

.InputSearch-wrapper {
  padding: 10vh 2rem;
}

.InputSearch {
  padding: .8rem .08rem;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.6rem;
  width: 100%;
  max-width: 29.75rem;
  color: #fff;
  font-family: inherit;
  font-weight: 300;
  transition: border-color .15s;
  margin-bottom: .98rem;
  border: 0;
  border-bottom: 1px solid $c-line;
  &::placeholder {
    color: rgba(255, 255, 255, 0.42);
  }
  &:focus {
    outline: 0;
    border-bottom-color: rgba(255, 255, 255, 0.9);
  }
  @media(min-width: $breakpoint) {
    font-size: 1.8rem;
  }
}

.Today {
  font-size: .93rem;
  letter-spacing: .05rem;
  &::first-letter {
    text-transform: uppercase;
  }
}

/* Transición cuango tengo la ubicación seleccionada 
    **********************************************/

.InputSearch-wrapper {
  transform: translate(0, 40vh);
  transition: transform 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Today {
  transition: opacity 2s;
}

@media(min-width: $breakpoint) {
  .InputSearch-wrapper {
    transform: translate(10vw, 42vh);
  }
}

.placeSelected {
  &.InputSearch-wrapper {
    transform: translate(0, 0);
  }
  .InputSearch {
    border-bottom-color: rgba(255, 255, 255, 0.0);
    @media(min-width: $breakpoint) {
      font-size: 2.34rem;
    }
  }
  .Today {
    opacity: .4;
    transform: translateY(-100%);
  }
}
